/* Add this to your styles.css file */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header.book-btn
{
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header.scroll {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.7em;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px;
    font: bold 14px/1.5 Helvetica, Verdana, sans-serif;
    size: 10px;
}

a {
    text-decoration: none;
    color: #faf9f9;
    transition: color 0.3s ease;
}

a:hover {
    color: #e48d65;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0a0a0a;
    box-shadow: 0px 8px 16px 0px rgba(173, 173, 173, 0.7);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#home {
    margin-top: 40px;
    background-image: url('images/specials-2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

#home::before {
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-content {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.home-content h2 {
    color: #fff;
    font-size: 78px;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.home-buttons {
    display: flex;
    justify-content: center;
}

.home-buttons a {
    background-color: transparent;
    color: #fff;
    border: 5px solid #eb823c;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

.home-buttons a:hover {
    background-color: #eb823c;
    color: #fff;
}



#about {
    background-color: #f8ece1;
    color: #333;
    text-align: center;
    padding: 100px 20px;
    display: flex;
}

.about-content {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-text {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}

.about-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ff5e00;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.accent-text {
    color: #ff5e00;
}

#why-choose-us {
    background-color: #fad4b5;
    color: #333;
    text-align: center;
    padding: 100px 20px;
}

.why-choose-us-content {
    max-width: 800px;
    margin: 0 auto;
}

.why-choose-us-content h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content:space-evenly;
    gap: 1rem;

}

.card {
    flex: 0 0 calc(33.333% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}


#menu {
    background-image: ('images/chefs-bg.jpg');
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 100px 20px;
}

.menu_name
{
font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Your Stylish Font', sans-serif;
}

.menu-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.menu-tab {
    background-color: transparent;
    color: black;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
    border: 3px solid rgba(248, 113, 35, 1);
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

.menu-tab:hover {
    background-color:  rgba(248, 113, 35, 1);
    color: #fff;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

#specials {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 100px 20px;
}

.specials-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.specials-tab {
    background-color:transparent;
    color: black;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
    border: 3px solid rgba(248, 113, 35, 1);
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

.specials-tab:hover {
    background-color:  rgba(248, 113, 35, 1);
    color: #fff;
}

.specials-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dish-info {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dish-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.dish-info p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

#events {
    background-image: url(images/event-custom.jpg);
    background-color: #fff;
    color: #fdfcfb;
    text-align: center;
    padding: 100px 20px;
}

.events-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.event-card {
    flex: 0 0 auto;
    justify-content: space-evenly;
    width: 300px;
    margin-right: 20px;
    scroll-snap-align: start;
    color: #333;
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.event-card p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.events-slider::-webkit-scrollbar {
    display: none;
}

#book-table {
    background-image: url('images/events-bg.jpg');
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 100px 20px;
}

#booking-form {
    max-width: 600px;
    margin: 0 auto;
}

#booking-form label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

#booking-form input,
#booking-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

#booking-form button {
    background-color: transparent;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    border: 5px solid #e44d26;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#booking-form button:hover {
    background-color: #e44d26;
}

#booking-form input:focus,
#booking-form textarea:focus {
    border-color: #e44d26;
}

#gallery {
    background-color: #fdc9bf;
    color: #333;
    text-align: center;
    padding: 100px 20px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

#chefs {
    background-image: url(images/slide/slide-3.jpg);
    background-color: #f4f4f4;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.chefs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.chef-card {
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chef-card img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.chef-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.chef-card p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    color: #e44d26;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.social-links a:hover {
    color: #333;
}

#testimonials {
    background-color: #f3c6c6;
    color: #333;
    text-align: center;
    padding: 100px 20px;
}

.testimonials-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.testimonial-card {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 20px;
    scroll-snap-align: start;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-card .rating {
    font-size: 24px;
    margin-bottom: 10px;
}

.testimonial-card p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.testimonials-slider::-webkit-scrollbar {
    display: none;
}

#contact {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 100px 20px;
}

.contact-card {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-card h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.contact-card p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact-form {
    max-width: 600px;
    margin: 20px auto;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: transparent;
    color: #e44d26;
    border: 5px solid #e44d26;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: #e44d26;
    color: #fff;
}

footer {
    font-size: xx-large;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;
    flex-wrap: wrap;
}

.footer-content h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.footer-content p {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.social-media-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.social-media-links a:hover {
    color: #e44d26;
}

.copyright {
    font-size: 14px;
    margin-top: 10px;
}
